head,
 :root,
body {
  background-color: #fafafa;
  margin: 0;
}

body>h1 {
  font: 500 2em Roboto, sans-serif;
  background-color: #1976d2;
  color: white;
  padding: 0.8em;
  margin: 0 0 0.4em 0;
  box-shadow: #000 0px 0px 10px;
}

main {
  display: flex;
  display: grid;
  overflow-x: auto;
  max-width: 100%;
  max-height: calc(100vh - 115px);
  height: calc(100vh - 115px);
  box-sizing: border-box;
}

main section {
  min-width: 240px;
  max-width: 240px;
  margin: 1px 5px 4px 5px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.07), 0 5px 15px rgba(0, 0, 0, 0.03);
  overflow-y: auto;
  transition: box-shadow 0.1s ease-out;
  box-sizing: border-box;
}

main section.selected {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 460px) {
  main {
    display: block;
    overflow: initial;
    height: initial;
  }
  main section {
    min-width: initial;
    max-width: initial;
    overflow-y: initial;
    width: calc(100% - 10px);
    height: 100%;
    box-sizing: border-box;
  }
  main section div[data-url] {
    margin: initial;
  }

  div#toast {
    height: 48px;
    font: 'Roboto' 14pt;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    min-width: auto !important;
    max-width: auto !important;
    margin-left: 0 !important;
    border-radius: 0px !important;
  }
}

main section h1 {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  position: sticky;
  top: -1px;
  background-color: #fff;
  margin: 0;
  padding: 0.8em;
}

main section h1 a {
  color: #333333;
}

main section div[data-url] {
  /* Container */
  margin: 0 5px;
  padding-top: 5px;
}

main section div.item {
  font-size: 1em;
  padding: 0.8em;
  border-top: solid 1px #dedede;
}

main section div.item h3 {
  font-size: 1em;
  margin: 0 0 0.8em 0;
  font-family: sans-serif;
  font-weight: 300;
  word-break: break-word;
}

main section div.item div {
  display: flex;
  align-items: center;
  font-size: 12px;
}

main section div.item div svg {
  width: 18px;
  height: 18px;
  padding: 0px 15px;
  margin: 0px 5px;
  cursor: pointer;
}

main section div.item div svg>* {
  pointer-events: none;
}

div a[data-bind_inner-text="pubDate"] {
  font-style: italic;
  color: #333333;
}

div#toast {
  display: none;
  background-color: #323232;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
}

div#toast.visible {
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  position: fixed;
  height: 48px;
  min-width: 400px;
  max-width: 400px;
  left: 24px;
  bottom: 24px;
  border-radius: 2px;
}

div#toast span {
  flex-grow: 1;
}

div#toast a {
  color: white;
  text-transform: uppercase;
}