head,
 :root,
body {
  background-color: #fafafa;
  margin: 0;
}

body>header {
  font: 500 1em Roboto, sans-serif;
  background-color: #1976d2;
  color: white;
  padding: 0.8em 0.8em 0.2em 0.8em;
  margin: 0 0 0.4em 0;
  box-shadow: #000 0px 0px 10px;
  display: flex;
  align-items: center;
}

body>header h1 {
  margin: 0 0 0.2em 0;
}

body>header span {
  font-weight: 400;
  font-size: 0.8em;
  color: white;
  margin-bottom: 0.4em;
  display: block;
  margin-left: 20px;
  margin-top: 2px;
}

body>header span a, body>header span a:visited {
  color: white;
}

main {
  display: flex;
  /*display: grid;*/
  overflow-x: auto;
  max-width: 100%;
  max-height: calc(100vh - 66px);
  height: calc(100vh);
  box-sizing: border-box;
}

main section {
  min-width: 310px;
  max-width: 310px;
  margin: 1px 5px 4px 5px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.07), 0 5px 15px rgba(0, 0, 0, 0.03);
  overflow-y: auto;
  transition: box-shadow 0.1s ease-out;
  box-sizing: border-box;
}

main section.selected {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.7), 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 460px) {
  main {
    display: block;
    overflow: initial;
    height: initial;
  }
  main section {
    min-width: initial;
    max-width: initial;
    overflow-y: initial;
    width: calc(100% - 10px);
    height: 100%;
    box-sizing: border-box;
  }
  main section div[data-url] {
    margin: initial;
  }

  div#toast {
    height: 48px;
    font: 'Roboto' 14pt;
    bottom: 0px !important;
    left: 0 !important;
    right: 0 !important;
    min-width: auto !important;
    max-width: auto !important;
    margin-left: 0 !important;
    border-radius: 0px !important;
  }
}

main section h1 {
  font-family: sans-serif;
  font-weight: 300;
  text-align: center;
  position: sticky;
  top: -1px;
  background-color: #f5f8fa;
  margin: 0;
  padding: 0.8em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: initial;
}

main section h1 a {
  color: #333333;
}

main section div[data-url] {
  /* Container */
  padding-top: 5px;
}

main section div.item {
  font-size: 1em;
  padding: 0.8em;
}

main section div.item:not(:first-child) {
  border-top: solid 1px #dedede;
}

main section div.item.new {
  /*background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><circle cx="8" cy="8" r="8" fill="#1976d2"/></svg>');*/
  background-position-x: calc(100% + 8px);
  background-position-y: -8px;
  background-repeat: no-repeat;
  background-size: 16px;
}

main section div.item p.description {
  font-weight: 300;
  color: #202020;
  overflow-x: none;  
  font-size: 16px;
  font-style: italic;
  border-left: 2px solid #cbcbcb;
  padding-left: 1em;
}

main section div.item h3 {
  font-size: 1em;
  margin: 0 0 0.4em 0;
  font-family: sans-serif;
  font-weight: 400;
  word-break: break-word;
}

main section div.item h4 {
  font-size: 0.8em;
  margin: 0 0 0.8em 0;
  font-family: sans-serif;
  font-weight: 300;
  word-break: break-word;
}

main section div.item div {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
}

main section div.item div svg {
  width: 18px;
  height: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

main section div.item div svg>* {
  pointer-events: none;
}

div a[data-bind_inner-text="pubDate"] {
  font-style: italic;
  color: #737272;
}

div#toast {
  display: none;
  background-color: #323232;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;
}

div#toast.visible {
  display: flex;
  align-items: center;
  padding: 0 1em 0 1em;
  position: fixed;
  height: 48px;
  min-width: 400px;
  max-width: 400px;
  left: 24px;
  bottom: 24px;
  border-radius: 2px;
}

div#toast span {
  flex-grow: 1;
}

div#toast a {
  color: white;
  text-transform: uppercase;
}